<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MoneyTransfert</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
    <!-- /core JS files -->


    @RenderSection("scriptsh", required: false)

    @Html.ApplicationInsightsJavaScript(TelemetryConfiguration)
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="/assets/images/logo_light.png" alt=""></a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        @await Html.PartialAsync("_LoginPartial")
    </div>
    <!-- /main navbar -->
    <!-- Second navbar -->
    <div class="navbar navbar-default" id="navbar-second">
        <ul class="nav navbar-nav no-border visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
        </ul>
        <div class="navbar-collapse collapse" id="navbar-second-toggle">
            <ul class="nav navbar-nav navbar-nav-material">
                <li class="@(ViewData["Current"] as string == "Home" ? "active" : "")" ><a asp-controller="Home" asp-action="Index"><i class="icon-home position-left"></i> Accueil</a></li>
                <li class="@(ViewData["Current"] as string == "Historique" ? "active" : "")" ><a asp-controller="Home" asp-action="Historique"><i class="icon-list3 position-left"></i> Activité</a></li>
                @*<li class="@(ViewData["Current"] as string == "Rapport" ? "active" : "")" ><a asp-controller="Home" asp-action="Rapport"><i class="icon-clipboard position-left"></i> Rapports</a></li>*@
                <li class="@(ViewData["Current"] as string == "Help" ? "active" : "")" ><a asp-controller="Home" asp-action="Help"><i class="icon-help position-left"></i> Comment ca marche?</a></li>
            </ul>
        </div>
    </div>
    <!-- /second navbar -->

    @RenderBody()

    <!-- Footer -->
    <div class="footer text-muted">
        &copy; 2015. <a href="#">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>
    </div>
    <!-- /footer -->

    @RenderSection("scripts", required: false)
</body>
</html>
